* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    color: black;
    background-color: #fff;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
}

img {
    max-width: 100%;
}

.button,
.like-button {
    cursor: pointer;
    border: 1px solid black;
    color: #1c1c1c;
    background-color: rgb(218, 214, 214);
    margin: 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.button:hover,
.button:focus,
.like-button:hover,
.like-button:focus {
    background-color: rgb(199, 192, 192);
}

.selected {
    background-color: rgb(15, 17, 129);
    color: #fff;
}

.selected:hover,
.selected:focus {
    background-color: rgb(10, 11, 77);
}

#root {
    margin: 0;
}

.main-heading {
    margin: 0;
}

.header {
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.heading-nav-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.main-nav {
    margin: 1em;
}

.link {
    margin: 0 0.5em;
}

.button-link {
    padding: 0.2em 0.5em;
    margin: 0.5em;
    border: 1px solid black;
    background-color: rgb(15, 17, 129);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}

.profile-container .button-link {
    margin: 0.5em 0 0 0;
}

.button-link:hover,
.button-link:focus {
    background-color: rgb(10, 11, 77);
}

.top-level-container {
    margin: 0;
    min-height: 100vh;
}

.main-section {
    width: 90%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-heading,
.error-message {
    color: red;
}

.footer {
    width: 90%;
    padding: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-text {
    font-weight: bold;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 0.5em;
}

.textarea {
    resize: none;
}

.select {
    align-self: flex-start;
}

.post-form {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2em;
}

.post-button {
    min-width: 8em;
    align-self: flex-start;
}

.post-author,
.post-time,
.post-likes,
.comment-author,
.comment-time,
.comment-likes {
    margin: 0 0.5em;
}

.post-link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-link-content {
    font-size: 1.1rem;
}

.edit-post-container,
.edit-comment-container {
    display: flex;
}

.edit-comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.previous-post,
.previous-comment {
    margin: 0 2em;
}

.post-text,
.comment-text {
    white-space: pre-line;
}

.post-container,
.post,
.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-container {
    margin: 2em 0;
}

.comment-form {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-form-label {
    font-weight: 600;
}

.previous-comment-time,
.previous-post-time {
    font-weight: 600;
}

.post-info-container,
.comment-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-likes-container,
.comment-likes-container {
    display: flex;
    align-items: center;
}

.post-history-container,
.comment-history-container {
    display: flex;
    flex-direction: column;
}

.previous-post,
.previous-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-profile-image,
.comment-profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.profile-image-grid-item {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}

.profile-image-selected {
    border: 3px solid rgb(7, 7, 77);
}

.profile-image-modal[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border: 1px solid black;
    background-color: rgb(218, 214, 214);
}

.profile-image-button {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
}
