.post-form {
    width: 30em;
    display: flex;
    flex-direction: column;
    background-color: #ebf1f3;
    border: 1px solid #575454;
    border-radius: 5px;
    padding: 2em;
    margin: 1em 0;
}

.create-post-form-heading {
    text-align: center;
}

.post-button {
    min-width: 8em;
    align-self: flex-start;
}

.post-type-container {
    background-color: #f3f3f3;
    border: 1px solid #575454;
    padding: 0.5em 1em;
    align-self: center;
    display: flex;
    justify-content: center;
}

.post-type-button {
    cursor: pointer;
    border: none;
    color: rgb(10, 11, 77);
    background-color: transparent;
    font-weight: 700;
    margin: 0.5em 0.25em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    text-decoration: none;
}

.post-type-button:hover,
.post-type-button:focus {
    background-color: rgb(199, 192, 192);
}

.post-type-button:disabled {
    color: rgb(104, 102, 102);
}

.create-post-error {
    color: red;
    text-align: center;
    font-size: 1.2rem;
    margin: 0.5em 0;
}

@media (max-width: 650px) {
    .post-form {
        width: 95%;
    }
}
