.footer {
    width: 100%;
    background-color: #ebf1f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-top: 1px solid #575454;
}

.footer-text {
    margin: 0.5em 0;
    text-align: center;
    font-size: 0.8rem;
    max-width: 45em;
}

.link {
    margin: 0;
}

.link:hover,
.link:focus {
    color: rgb(8, 7, 46);
}
