.main-heading {
    font-weight: 800;
    margin: 0.2em 0.5em;
}

.main-heading-link {
    color: rgb(19, 26, 128);
    text-decoration: none;
}

.main-heading-link:hover,
.main-heading-link:focus {
    color: rgb(8, 7, 46);
}

.header {
    width: 100%;
    padding: 1.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebf1f3;
    border-bottom: 1px solid black;
}

.header-info-container {
    margin: 0 1em;
    display: flex;
    justify-content: space-between;
}

.hamburger-menu-button {
    cursor: pointer;
    background-image: url("/icon-images/menu-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0.5em;
    border: none;
    border-radius: 5px;
    width: 28px;
    height: 28px;
}

.header-search-form {
    display: flex;
    align-items: center;
}

.header-search-input {
    border-radius: 5px;
    border: 1px solid rgb(92, 89, 89);
    margin-left: 0.5em;
    font-size: 0.8rem;
    max-width: 6em;
}

.header-search-button {
    font-size: 0.8em;
    cursor: pointer;
    border: 1px solid black;
    color: #1c1c1c;
    background-color: rgb(218, 214, 214);
    margin: 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.header-search-button:hover,
.header-search-button:focus {
    background-color: rgb(199, 192, 192);
}

.profile-container {
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.nav-modal {
    border: none;
    margin-top: 0;
    margin-right: 0;
    position: fixed;
    inset: 0;
}

.nav-modal[open] {
    background-color: #ebf1f3;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5em 0;
    animation-name: menu-slide;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.main-menu-button-container {
    border-top: 1px solid black;
    padding-top: 0.5em;
}

.main-menu-link {
    text-decoration: none;
    width: 100%;
    border-top: 1px solid black;
    padding: 1em 2em 1em 1em;
}

.main-menu-link:hover,
.main-menu-link:focus {
    color: rgb(8, 7, 46);
}

.main-nav {
    margin: 1em 0 0 0;
    min-width: 10em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.mobile-topics-nav-modal {
    border: none;
    margin-top: 0;
    margin-right: 0;
    position: fixed;
    inset: 0;
}
.mobile-topics-nav-modal[open] {
    background-color: #f3f3f3;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0;
    animation-name: menu-slide;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}
.mobile-topics-link-heading {
    margin: 0.5em 0;
}
.mobile-topics-link-container,
.mobile-topics-links-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-topic-link {
    text-decoration: none;
    width: 100%;
    border-top: 1px solid black;
    padding: 0.8em;
}

.mobile-topics-link {
    color: rgb(8, 7, 46);
}

@media (max-width: 650px) {
    .header {
        padding: 1em 0.5em;
    }
    .header-info-container {
        margin-top: 0.5em;
    }
}

@keyframes menu-slide {
    0% {
        transform: translateX(100%);
    }
}
