.main-heading {
    margin: 0.2em 0.5em;
}

.header {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(183, 214, 214);
    border-bottom: 1px solid black;
}

.header-info-container {
    margin: 0 1em;
    display: flex;
    justify-content: space-between;
}

.profile-container {
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    margin-right: 0.5em;
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.nav-modal {
    min-width: 15em;
    background-color: rgb(233, 218, 199);
    border: 2px solid black;
    text-align: center;
}

.main-nav {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.link {
    margin: 0 0.5em;
}

.profile-container .button-link {
    margin: 0.5em 0 0 0;
}

.hamburger-menu-button {
    cursor: pointer;
    background-image: url("/profile-images/mobile-menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0.5em 1em;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

@media (max-width: 650px) {
    .header {
        flex-direction: column;
        padding: 0.5em;
    }
    .header-info-container {
        flex-direction: row-reverse;
    }
    .main-nav {
        display: none;
    }
    .profile-image {
        margin-right: 0;
    }
}
