.user-message {
    margin: 0.25em 0;
}

.home-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.trending-posts-section,
.new-posts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em 1em;
}

.popular-posts-heading,
.new-posts-heading {
    margin: 0;
    text-align: center;
}

.trending-posts-link-container {
    width: 25em;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    margin: 0.5em 0;
}

.home-post-content-container {
    text-align: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 1em;
}

.trending-post-elements,
.new-post-elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-post-image-container {
    text-align: center;
    width: 25%;
}

.trending-post-link {
    margin: 0.5em 0;
    color: rgb(19, 26, 128);
    text-decoration: none;
}

.trending-post-title {
    margin: 0;
}
.trending-post-text-type {
    margin: 0.5em 0;
}

.trending-post-link-type {
    word-break: break-all;
    margin: 0.5em 0.5em 1em 0.5em;
}

.trending-post-link:hover,
.trending-post-link:focus {
    color: rgb(8, 7, 46);
}

.home-link-post-image,
.home-text-post-image {
    margin: 0;
    width: 55px;
    height: 55px;
}

.trending-main-content-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 650px) {
    .home-container {
        flex-direction: column;
        align-items: center;
    }
    .trending-posts-section,
    .new-posts-section {
        width: 100%;
    }
    .trending-posts-link-container {
        width: 95%;
    }
}
