* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    color: black;
    background-color: rgb(215, 231, 236);
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
}

img {
    max-width: 100%;
}

.button,
.like-button,
.button-link {
    cursor: pointer;
    border: 1px solid black;
    color: #1c1c1c;
    background-color: rgb(218, 214, 214);
    margin: 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover,
.button:focus,
.like-button:hover,
.like-button:focus,
.button-link:hover,
.button-link:focus {
    background-color: rgb(199, 192, 192);
}

.selected {
    background-color: rgb(15, 17, 129);
    color: #fff;
}

.selected:hover,
.selected:focus {
    background-color: rgb(10, 11, 77);
}

#root {
    margin: 0;
}

.top-level-container {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-section {
    width: 100%;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
}

.user-message {
    margin: 0.25em 0;
}

.home-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.trending-posts-section,
.new-posts-section {
    padding: 0.5em;
    margin: 0.5em;
}

.popular-posts-heading,
.new-posts-heading {
    margin: 0;
    text-align: center;
}

.trending-posts-link-container,
.results-posts-link-container {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    margin: 1em 0;
}

.link {
    margin: 0;
}

.trending-post-link,
.results-post-link {
    color: rgb(19, 26, 128);
    text-decoration: none;
}

.trending-post-link:hover,
.trending-post-link:focus,
.results-post-link:hover,
.results-post-link:focus,
.link:hover,
.link:focus {
    color: rgb(8, 7, 46);
}

.error-heading,
.error-message {
    color: red;
}

.footer {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.footer-text {
    margin: 0.5em 0;
    text-align: center;
    font-size: 0.8rem;
    max-width: 45em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 0.5em;
}

.textarea {
    resize: none;
}

.select {
    align-self: flex-start;
}

.checkbox {
    cursor: pointer;
}

.login-form,
.register-form {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1em 0;
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
}

.edit-post-container,
.edit-comment-container {
    display: flex;
}

.edit-comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container,
.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form,
.login-section {
    max-width: 25em;
    text-align: center;
    padding: 0 1em;
}

.new-account-text {
    text-align: center;
    margin: 0.2em;
}

.block-label-text {
    margin: 0 1em;
    display: block;
}

.posts-topic-heading {
    margin: 0.75em 0 0.25em 0;
}

.terms-container {
    max-width: 25em;
    margin: 1em 0;
    padding: 0.5em 1em;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
}

.terms-list-item {
    margin: 0.5em 0;
}

#terms-input-container {
    margin: 0.5em 0;
}

#accept-terms-input {
    margin-right: 1em;
}

.trending-main-content-container,
.results-main-content-container {
    margin: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-link-post-image,
.home-text-post-image,
.results-link-post-image,
.results-text-post-image {
    margin: 0 0.5em 0 1em;
    width: 55px;
    height: 55px;
}

.topics-links-nav {
    padding: 0.5em 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
}

.topic-link {
    text-align: center;
    margin: 0.25em 1em 0.25em 0;
    padding: 0 1em 0 0;
    border-right: 1px solid black;
    text-decoration: none;
}

.last-topic-link {
    border: none;
}

.topic-link:hover,
.topic-link:focus {
    color: rgb(8, 7, 46);
}

.topics-link-container {
    display: flex;
    justify-content: center;
}

.topics-link-row {
    display: flex;
    justify-content: space-around;
}

.results-post-title {
    text-align: center;
}

.results-post-text {
    text-align: center;
    max-width: 20em;
}

@media (max-width: 650px) {
    .main-section {
        min-height: 65vh;
    }
    .home-container {
        flex-direction: column;
    }
    .topics-link-container {
        flex-direction: column;
    }
    .topic-link {
        border: none;
    }
    .topics-link-row {
        margin: 0.5em 0;
    }
    .trending-main-content-container,
    .results-main-content-container {
        flex-direction: column;
    }
    .trending-post-text,
    .trending-post-title,
    .results-post-text {
        text-align: center;
    }
}
