* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    color: black;
    background-color: rgb(215, 231, 236);
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

img {
    max-width: 100%;
}

.top-level-container {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-section {
    width: 100%;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button,
.button-link {
    cursor: pointer;
    border: 1px solid black;
    color: #1c1c1c;
    background-color: rgb(218, 214, 214);
    margin: 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover,
.button:focus,
.button-link:hover,
.button-link:focus {
    background-color: rgb(199, 192, 192);
}

.error-message-container {
    width: 25em;
    max-width: 90%;
    text-align: center;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    margin: 2em 0;
    padding: 0.5em 1em;
}

.not-visible {
    display: none;
}

.error-heading,
.error-message {
    margin: 0.5em 0;
    color: red;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 0.5em;
}

.textarea {
    resize: none;
}

.select {
    align-self: flex-start;
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
}

.close-modal-button {
    padding: 0.2em 0.5em;
    margin: 0 0.25em;
    align-self: flex-end;
    cursor: pointer;
    background-color: rgb(224, 19, 19);
    color: #f3f3f3;
    font-weight: 600;
    border: 1px solid #575454;
    border-radius: 5px;
}

.close-modal-button:hover,
.close-modal-button:focus {
    background-color: rgb(173, 17, 17);
}

/* Post Preview */

.post-preview-container {
    width: 25em;
    min-height: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    border-radius: 5px;
    margin: 0.5em 0;
}

.post-preview-inner-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-preview-main-content {
    text-align: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 1em;
}

.post-preview-link {
    font-size: 1rem;
    margin: 0.5em 0;
    color: rgb(19, 26, 128);
    text-decoration: none;
}

.post-preview-link:hover,
.post-preview-link:focus {
    color: rgb(8, 7, 46);
}

.post-preview-title {
    margin: 0;
}

.text-preview-text {
    margin: 0.25em 0;
}

.link-preview-text {
    word-break: break-all;
    margin: 0.25em 0.5em;
}

.post-preview-image-container {
    text-align: center;
    width: 25%;
}

.link-preview-image,
.text-preview-image {
    margin: 0;
    width: 55px;
    height: 55px;
}

/* Terms */

.terms-container {
    max-width: 25em;
    margin: 1em 0;
    padding: 0.5em 1em;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    border-radius: 5px;
}

.terms-list-item {
    margin: 0.5em 0;
}

/* Loading */

#outlet-loading-area {
    padding: 5em 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#outlet-loading-background {
    background-color: #f3f3f3;
    padding: 1em 2em 0 2em;
    border-radius: 5px;
    border: 1px solid #575454;
}

#outlet-loading-spinner {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border-left: solid rgb(19, 26, 128) 10px;
    border-right: solid rgb(19, 26, 128) 10px;
    border-top: solid transparent 10px;
    border-bottom: solid transparent 10px;
    animation-name: rotate-loader;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

#outlet-loading-text {
    margin: 1em 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(19, 26, 128);
}

@keyframes rotate-loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 650px) {
    .terms-container,
    .post-preview-container {
        width: 95%;
    }
}
