* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    color: black;
    background-color: #fff;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
}

img {
    max-width: 100%;
}

.button,
.like-button {
    cursor: pointer;
    border: 1px solid black;
    color: #1c1c1c;
    background-color: rgb(218, 214, 214);
    margin: 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.button:hover,
.button:focus,
.like-button:hover,
.like-button:focus {
    background-color: rgb(199, 192, 192);
}

.selected {
    background-color: rgb(15, 17, 129);
    color: #fff;
}

.selected:hover,
.selected:focus {
    background-color: rgb(10, 11, 77);
}

#root {
    margin: 0;
}

.link {
    margin: 0.5em;
}

.button-link {
    padding: 0.2em 0.5em;
    margin: 0.5em;
    border: 1px solid black;
    background-color: rgb(15, 17, 129);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.button-link:hover,
.button-link:focus {
    background-color: rgb(10, 11, 77);
}

.top-level-container {
    margin: 0;
    min-height: 100vh;
}

.main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user-message {
    margin: 0.25em 0;
}

.home-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.topics-nav {
    display: flex;
    flex-direction: column;
}

.trending-posts-section,
.topics-links-section {
    padding: 0.5em;
    margin: 0.5em;
}

.error-heading,
.error-message {
    color: red;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.footer-text {
    margin: 0.5em 0;
    text-align: center;
    font-size: 0.8rem;
    max-width: 45em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 0.5em;
}

.textarea {
    resize: none;
}

.select {
    align-self: flex-start;
}

.checkbox {
    cursor: pointer;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
}

.edit-post-container,
.edit-comment-container {
    display: flex;
}

.edit-comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container,
.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form,
.login-section {
    max-width: 25em;
    text-align: center;
    padding: 0 1em;
}

.new-account-text {
    text-align: center;
    margin: 0.2em;
}

.block-label-text {
    margin: 0 1em;
    display: block;
}

.terms-container {
    max-width: 25em;
    padding: 1em;
}

.terms-list-item {
    margin: 0.5em 0;
}

#terms-input-container {
    margin: 0.5em 0;
}

#accept-terms-input {
    margin-right: 1em;
}
