.moderation-main-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-heading {
    text-align: center;
    margin: 0.5em 0 1em 0;
}

.moderation-forms-section {
    margin: 0 2em 2em 2em;
}

.moderation-form {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    border: 1px solid #575454;
}

#notify-message-input {
    width: 100%;
}

.form-heading {
    margin: 0.5em 0;
}

.moderation-main-heading,
.moderation-form-message {
    margin: 0.5em 0;
}

.reports-section {
    margin: 0 2em;
}

.report-text {
    margin: 0.5em;
}

.report-container {
    background-color: #f3f3f3;
    margin: 0.5em 0;
    padding: 0.5em 0;
    border: 1px solid #575454;
}

.moderation-link {
    font-size: 1.1rem;
    color: rgb(19, 26, 128);
    text-decoration: none;
    margin: 0.5em;
}

.moderation-link:hover,
.moderation-link:focus {
    color: rgb(8, 7, 46);
}

@media (max-width: 650px) {
    .moderation-main-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .moderation-forms-section {
        margin: 0 0 1em 0;
    }
}
