.moderation-main-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-heading {
    text-align: center;
    margin: 0.5em 0 1em 0;
}

.moderation-forms-section {
    margin: 0 2em 2em 2em;
}

.moderation-form {
    max-width: 25em;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    border: 1px solid #575454;
}

.ban-form-note {
    text-align: center;
    border: 1px solid #575454;
    background-color: #ebf1f3;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 20em;
}

.moderation-input {
    width: 90%;
}

.form-heading {
    margin: 0.5em 0;
}

.moderation-main-heading,
.moderation-form-message {
    margin: 0.5em 0;
}

.reports-section {
    margin: 0 2em;
}

.report-text {
    margin: 0.5em;
    max-width: 20em;
}

.report-container {
    background-color: #f3f3f3;
    margin: 0.5em 0;
    padding: 0.5em 0;
    border: 1px solid #575454;
}

.moderation-link {
    font-size: 1.1rem;
    color: rgb(19, 26, 128);
    text-decoration: none;
    margin: 0.5em;
}

.moderation-link:hover,
.moderation-link:focus {
    color: rgb(8, 7, 46);
}

#mod-response-modal[open] {
    display: flex;
    flex-direction: column;
    max-width: 25em;
    background-color: rgb(215, 231, 236);
    border: 1px solid black;
    text-align: center;
    padding: 1.5em 2em;
}

.close-mod-modal-button {
    padding: 0.2em 0.5em;
    margin: 0 0.25em;
    align-self: flex-end;
    cursor: pointer;
    background-color: rgb(224, 19, 19);
    color: #f3f3f3;
    font-weight: 600;
    border: 1px solid #575454;
    border-radius: 5px;
}

.close-mod-modal-button:hover,
.close-mod-modal-button:focus {
    background-color: rgb(173, 17, 17);
}

#notify-warning-input {
    cursor: pointer;
    margin: 0.25em 0 0 0.5em;
}

.checkbox-container {
    padding: 0.25em 0;
    display: flex;
    align-items: center;
}

@media (max-width: 650px) {
    .moderation-main-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .moderation-forms-section {
        margin: 0 0 1em 0;
    }
}
