.post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post-title {
    text-align: center;
    margin: 0.5em;
}

.post-author,
.post-time,
.post-likes,
.post-edited-time,
.comment-author,
.comment-time,
.comment-likes,
.comment-edited-time {
    margin: 0.25em;
}

.previous-post,
.previous-comment {
    background-color: #f3f3f3;
    border: 1px solid #575454;
    border-radius: 5px;
    margin: 0 2em 1em 2em;
    padding: 0.5em 1em;
}

.post-text,
.comment-text {
    white-space: pre-line;
    margin: 1.5em 1.5em 0.5em 1.5em;
}

.link-post-anchor {
    display: block;
    width: 100%;
    text-align: center;
}

.post,
.comment {
    width: 100%;
    padding: 2em 0.5em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #575454;
}

.comments-container {
    width: 100%;
}

.column-info {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-topic-link {
    margin: 0 0.5em;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: capitalize;
}

.post-author-link {
    text-decoration: none;
}

.post-author-link:hover,
.post-author-link:focus,
.post-topic-link:hover,
.post-topic-link:focus {
    color: rgb(8, 7, 46);
}

.selected {
    background-color: rgb(15, 17, 129);
    color: #fff;
}

.selected:hover,
.selected:focus {
    background-color: rgb(10, 11, 77);
}

.column-content {
    background-color: #f3f3f3;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #575454;
    padding: 0.5em;
}

.save-post-button {
    width: 30px;
    height: 32px;
    cursor: pointer;
    border: none;
    margin: 0.5em;
    background: url("/icon-images/save-post-icon.png");
}

.save-post-button-selected {
    width: 30px;
    height: 32px;
    cursor: pointer;
    border: none;
    margin: 0.5em;
    background: url("/icon-images/unsave-post-icon.png");
}

.comment:nth-child(odd) {
    background-color: #ebf1f3;
}

.comment:nth-child(even) {
    background-color: rgb(215, 231, 236);
}

.comment:last-child {
    border-bottom: none;
}

.comment-form {
    width: 100%;
    border-bottom: 1px solid #575454;
    align-self: center;
    justify-self: center;
    padding: 1em 0 0.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-form-label {
    font-weight: 600;
}

.previous-comment-time,
.previous-post-time {
    font-weight: 600;
}

.author-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-author-span {
    display: block;
}

.reply {
    padding-left: 5em;
}

.post-likes-container,
.comment-likes-container {
    margin: 0.5em 0;
    display: flex;
    align-items: center;
}

.post-history-container,
.comment-history-container {
    width: 100%;
    border-bottom: 1px solid #575454;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.previous-post,
.previous-comment {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-history-container-heading,
.comment-history-container-heading {
    margin: 0.5em;
}

.post-profile-image,
.comment-profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 0.5em;
}

.report-modal[open] {
    max-width: 25em;
    background-color: rgb(215, 231, 236);
    border: 2px solid black;
    text-align: center;
    padding: 1.5em 2em;
}

.report-modal-text {
    font-size: 1.2rem;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    border-radius: 5px;
    padding: 0.5em;
}

.post-main-content-container {
    display: flex;
    align-items: center;
}

.post-inner-content-container {
    min-width: 20em;
}

.link-post-image {
    width: 77px;
    height: 77px;
    margin: 0 1em;
}

@media (max-width: 650px) {
    .post-main-content-container {
        flex-direction: column;
    }
    .link-post-image {
        margin-top: 0.5em;
    }
    .post-text {
        margin: 0.5em;
    }
    .post-inner-content-container {
        min-width: fit-content;
    }
    .post,
    .comment {
        flex-direction: column;
    }
    .column-content,
    .column-info {
        width: 100%;
        align-items: center;
        margin: 0.5em 0;
    }
    .post-likes-container,
    .comment-likes-container {
        flex-direction: column;
    }
    .comments-container {
        width: 100%;
    }
    .post-time,
    .post-edited-time,
    .comment-time,
    .comment-edited-time {
        display: block;
    }
}
