.post-container {
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post-title {
    font-size: 1.4rem;
    text-align: center;
    margin: 0.5em;
}

.post-likes,
.comment-likes {
    margin: 0.25em;
}

.previous-post,
.previous-comment {
    background-color: #f3f3f3;
    border: 1px solid #575454;
    border-radius: 5px;
    margin: 0 2em 1em 2em;
    padding: 0.5em 1em;
}

.text-post-text {
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0.5em 1.5em;
}

.comment-text {
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 1.5em 1.5em 0.5em 1.5em;
}

.link-post-text {
    text-align: center;
    margin: 0.5em 1em;
    padding: 0 1em;
}

.content-link {
    word-break: break-all;
}

.link-post-anchor {
    word-break: break-word;
    font-size: 1.1rem;
}

.content-link:hover,
.content-link:focus,
.link-post-anchor:hover,
.link-post-anchor:focus {
    color: rgb(8, 7, 46);
}

.open-link-icon-image {
    width: 20px;
    height: 20px;
    margin: 0 0.25em;
    vertical-align: text-bottom;
}

.account-to-comment-text {
    margin: 0.5em 0;
}

.comment-time,
.post-time,
.post-edited-time,
.comment-edited-time,
.post-author,
.comment-author {
    font-family: "Times New Roman", Times, serif;
    margin: 0.25em 0;
}

.post {
    background-color: rgb(215, 231, 236);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
}

.comment {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #575454;
}

.comments-container {
    width: 100%;
}

.column-info {
    width: 35%;
    margin: 2em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-topic-link {
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: capitalize;
}

.post-author-link,
.comment-author-link {
    text-decoration: none;
}

.post-author-link:hover,
.post-author-link:focus,
.post-topic-link:hover,
.post-topic-link:focus,
.comment-author-link:hover,
.comment-author-link:focus {
    color: rgb(8, 7, 46);
}

.selected {
    background-color: rgb(15, 17, 129);
    color: #fff;
}

.selected:hover,
.selected:focus {
    background-color: rgb(10, 11, 77);
}

.column-content {
    background-color: #f3f3f3;
    width: 65%;
    margin: 2em 1.5em 2em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #575454;
    padding: 0.5em;
}

.content-top-line {
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0.5em 0.5em 0 0.5em;
}

#save-post-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-post-button {
    align-self: flex-end;
    width: 30px;
    height: 32px;
    cursor: pointer;
    border: none;
    background: url("../images/save-post-icon.png");
}

.save-post-button-selected {
    align-self: flex-end;
    width: 30px;
    height: 32px;
    cursor: pointer;
    border: none;
    background: url("../images/unsave-post-icon.png");
}

.no-comments-text-container {
    width: 100%;
    padding: 1em;
    background-color: rgb(215, 231, 236);
    text-align: center;
    border-top: 1px solid #575454;
}

.no-comments-text {
    margin: 0.5em 0;
    font-size: 1.2rem;
}

.comment:nth-child(odd) {
    background-color: #ebf1f3;
}

.comment:nth-child(even) {
    background-color: rgb(215, 231, 236);
}

.comment-form-container {
    width: 100%;
    background-color: #ebf1f3;
    display: flex;
    justify-content: center;
    border-top: 1px solid #575454;
}

.show-more-area {
    width: 100%;
    background-color: rgb(215, 231, 236);
    text-align: center;
}

.comment-form {
    width: 22em;
    margin: 1em 0;
    padding: 1em 1.5em 0.5em 1.5em;
    border: 1px solid #575454;
    border-radius: 5px;
    background-color: #ebf1f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment-input {
    width: 95%;
    height: 8em;
    padding: 0.25em;
}

.comment-form-label {
    font-weight: 600;
}

.author-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-author-span {
    display: block;
}

.reply {
    padding-left: 5em;
}

.post-likes-container,
.comment-likes-container {
    margin: 0.25em 0;
    display: flex;
    align-items: center;
}

.post-history-container,
.comment-history-container {
    width: 100%;
    border-top: 1px solid #575454;
    display: flex;
    flex-direction: column;
}

.previous-comment-time,
.previous-post-time {
    font-weight: 600;
}

.post-history-elements,
.comment-history-elements {
    display: flex;
    flex-wrap: wrap;
}

.previous-post,
.previous-comment {
    width: 30%;
    margin: 1em;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.previous-post-content,
.previous-comment-content {
    word-break: break-word;
}

.post-history-container-heading,
.comment-history-container-heading {
    text-align: center;
    margin: 1em 1em 0 1em;
}

.post-profile-image,
.comment-profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 0.5em;
}

.report-modal[open] {
    width: 25em;
    max-width: 95%;
    background-color: #f3f3f3;
    border: 1px solid black;
    text-align: center;
    padding: 1.5em 2em;
}

.error-modal[open] {
    width: 25em;
    max-width: 95%;
    background-color: #ebf1f3;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-modal-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: red;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    border-radius: 5px;
    padding: 0.5em;
}

.report-modal-heading,
.report-sent-message {
    margin: 0.5em 0;
}

#report-form {
    display: flex;
    flex-direction: column;
}

.post-main-content-container {
    display: flex;
    align-items: center;
}

.post-inner-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-more {
    align-self: center;
}

.poll-form {
    border: 1px solid #575454;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poll-options-container {
    display: flex;
}

.poll-option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.poll-vote-text {
    margin: 0.5em 1em;
    color: rgb(15, 17, 129);
}

.poll-option-label {
    margin: 0.5em 1em;
    cursor: pointer;
}

@media (max-width: 650px) {
    .link-post-image {
        margin-top: 0.5em;
    }
    .text-post-text {
        margin: 0.5em 1em 1em 1em;
    }
    .post,
    .comment {
        padding: 0.5em 0;
        flex-direction: column;
        align-items: center;
    }
    .post-main-content-container {
        width: 100%;
        background-color: #f3f3f3;
    }
    .column-content,
    .column-info {
        width: 95%;
        align-items: center;
        margin: 0.5em 0;
        padding: 0;
    }
    .post-likes-container,
    .comment-likes-container {
        flex-direction: column-reverse;
    }
    .previous-post,
    .previous-comment {
        width: 90%;
    }
    .comment-form {
        width: 95%;
    }
}
