.profile-image-grid-item {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}

.profile-image-grid {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
}

.profile-pic-modal-heading {
    margin: 0 0 1em 0;
}

.profile-image-selected {
    border: 3px solid rgb(7, 7, 77);
}

.profile-image-modal[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 0.5em 2em;
    border: 1px solid black;
    background-color: rgb(218, 214, 214);
}

.profile-image-button {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0.25em 0.5em;
}

.delete-account-container {
    max-width: 20em;
    text-align: center;
    margin: 0 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-account-heading {
    margin: 0 0 0.5em 0;
    color: #c70c0c;
}

.delete-account-button {
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid rgb(100, 3, 3);
    color: #fff;
    background-color: #c70c0c;
    margin: 0.2em 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.delete-account-button:hover,
.delete-account-button:focus {
    background-color: #9e0909;
}

.message-modal[open] {
    max-width: 25em;
    background-color: rgb(215, 231, 236);
    border: 2px solid black;
    text-align: center;
    padding: 1.5em 2em;
}

.message-modal-text {
    font-size: 1.2rem;
}

.profile-notification-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-notification-link {
    margin: 0 0.5em;
}

.post-link-container,
.comment-link-container {
    margin: 0.5em 0;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.profile-post-link,
.related-post-link {
    margin: 0.5em 0;
    font-size: 1.2rem;
    color: rgb(15, 15, 121);
    text-decoration: none;
}

.profile-section-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-settings-section,
.profile-notifications-section,
.profile-posts-section,
.profile-comments-section {
    min-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-image-info {
    margin: 0 0.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-comments-container {
    padding: 0 1em;
}

@media (max-width: 650px) {
    .profile-section-row {
        flex-direction: column;
    }
    .profile-settings-section,
    .profile-notifications-section,
    .profile-posts-section,
    .profile-comments-section {
        width: 100%;
    }
    .profile-notification-container {
        flex-direction: column;
    }
}
