.username-heading {
    margin: 0.5em 0;
}

.profile-image-grid-item {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}

.profile-image-grid {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic-modal-heading {
    margin: 0.5em 0;
}

.profile-image-selected {
    border: 3px solid rgb(7, 7, 77);
}

.profile-image-modal[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    border: 1px solid black;
    background-color: #f3f3f3;
}

.profile-bio-modal[open],
.profile-delete-modal[open],
.profile-password-modal[open] {
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
    border: 1px solid black;
    background-color: #f3f3f3;
}

.update-bio-form,
.update-password-form {
    display: flex;
    flex-direction: column;
}

.close-profile-modal-button {
    padding: 0.2em 0.5em;
    margin: 0 0.25em;
    align-self: flex-end;
    cursor: pointer;
    background-color: rgb(224, 19, 19);
    color: #f3f3f3;
    font-weight: 600;
    border: 1px solid #575454;
    border-radius: 5px;
}

.close-profile-modal-button:hover,
.close-profile-modal-button:focus {
    background-color: rgb(173, 17, 17);
}

.profile-image-button {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0.25em 0.5em;
}

.profile-bio-container,
.update-password-container {
    padding: 1em;
    border-bottom: 1px solid black;
}

.update-bio-form-heading,
.profile-bio-heading,
.profile-delete-heading,
.profile-security-heading {
    margin: 0.5em 0;
}

.profile-password-heading {
    margin: 1em 0 0.5em 0;
    font-size: 0.9rem;
}

.update-password-text {
    margin: 0.5em 0 1em 0;
    font-size: 0.9rem;
}

.delete-profile-form-text {
    font-weight: 600;
    font-size: 1.2rem;
    max-width: 15em;
}

.profile-bio-text {
    margin: 1em 0;
}

#update-bio-input {
    resize: none;
    margin: 0 0.5em;
}

.delete-account-container {
    width: 100%;
    text-align: center;
    margin: 1em 0 0 0;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-account-heading {
    margin: 0;
    color: #c70c0c;
}

.delete-account-button {
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid rgb(100, 3, 3);
    color: #fff;
    background-color: #c70c0c;
    margin: 0 0 1em 0;
    padding: 0.25em 0.6em;
    border-radius: 5px;
}

.delete-account-button:hover,
.delete-account-button:focus {
    background-color: #9e0909;
}

.message-modal[open] {
    max-width: 25em;
    background-color: rgb(215, 231, 236);
    border: 1px solid black;
    text-align: center;
    padding: 1.5em 2em;
}

.message-modal-text {
    font-size: 1.2rem;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    border-radius: 5px;
    padding: 0.5em;
}

.profile-notification-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    border-radius: 5px;
}

.notification-message {
    margin: 0.5em 0;
}

.profile-notification-link,
.profile-post-link,
.related-post-link {
    font-size: 1.1rem;
    color: rgb(19, 26, 128);
    text-decoration: none;
    margin: 0.5em;
}

.profile-notification-link:hover,
.profile-notification-link:focus,
.profile-post-link:hover,
.related-post-link:hover,
.profile-post-link:focus,
.related-post-link:focus {
    color: rgb(8, 7, 46);
}

.post-link-container,
.comment-link-container,
.saved-post-link-container {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    border-radius: 5px;
}

.your-posts-heading,
.your-comments-heading,
.notifications-heading,
.account-settings-heading,
.saved-posts-heading,
.saved-post-link-text {
    margin: 0.5em 0;
}

.profile-section-row,
.notification-options {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-settings-section,
.profile-notifications-section,
.profile-posts-section,
.profile-comments-section,
.profile-saved-posts-section {
    width: 25em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-image-info {
    width: 100%;
    background-color: #f3f3f3;
    border-bottom: 1px solid #575454;
    padding-bottom: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-posts-container,
.user-comments-container,
.notifications-container,
.saved-posts-container {
    width: 100%;
    padding: 0 1em;
}

.account-settings-container {
    margin: 0 1em;
    background-color: #f3f3f3;
    border: 1px solid #575454;
}

@media (max-width: 650px) {
    .profile-section-row {
        flex-direction: column;
        align-items: center;
    }
    .profile-settings-section,
    .profile-notifications-section,
    .profile-posts-section,
    .profile-comments-section,
    .profile-saved-posts-section {
        width: 100%;
    }
    .profile-notification-container {
        flex-direction: column;
    }
}
