.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    margin-top: 0.5em;
    padding: 1em 0.5em;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-input {
    border: 1px solid #575454;
    border-radius: 5px;
}

.results-link-post-image,
.results-text-post-image {
    margin: 0 0.5em 0 1em;
    width: 55px;
    height: 55px;
}

.results-post-title,
.results-post-text {
    text-align: center;
    max-width: 18em;
}

.results-post-link {
    color: rgb(19, 26, 128);
    text-decoration: none;
}

.results-post-link:hover,
.results-post-link:focus {
    color: rgb(8, 7, 46);
}

.results-posts-link-container {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    margin: 1em 0;
}

.results-main-content-container {
    margin: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 650px) {
    .results-posts-link-container {
        width: 95%;
    }
    .results-main-content-container {
        flex-direction: column;
    }
}
