.search-container,
.results-container,
.posts-topic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
}

.search-form {
    width: 25em;
    margin: 1em 0 0.5em 0;
    padding: 1em 0.5em;
    background-color: #f3f3f3;
    border: 1px solid #575454;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-input {
    border: 1px solid #575454;
    border-radius: 5px;
}

@media (max-width: 650px) {
    .search-container {
        width: 100%;
    }
    .search-form {
        width: 95%;
    }
}
